<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miaotech.collection.mapper.CollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.miaotech.user.domain.entity.Collection">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="url" property="url" />
        <result column="view_count" property="viewCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id, url, view_count
    </sql>

</mapper>
